<div class="posts-container row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="header" [innerHTML]="post.title.rendered"></mat-card-title>
        <mat-card-subtitle><b>Author:</b> {{post.authorName}}</mat-card-subtitle>
      </mat-card-header>
      <div [innerHTML]="post.content.rendered"></div>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <p class="date"> Date: {{post.date.split('T')[0]}} </p>
        </div>
      </div>
    </mat-card>
    <button *ngFor="let category of post.categoriesInfo" (click)="goToCategories(category.id)" class="btn btn-primary btnCategory" type="button">
      {{category.name}} <span class="badge"></span>
    </button>
    <mat-list>
      <h3 mat-subheader>Comments</h3>
      <mat-list-item *ngFor="let comment of comments">
        <img matListAvatar src="{{comment.author_avatar_urls[24]}}">
        <h3 matLine> {{comment.author_name}} </h3>
        <p matLine [innerHTML]="comment.content.rendered"></p>
      </mat-list-item>
    </mat-list>
    <div [hidden]="isLoading">
      <mat-paginator
        [length]="totalPosts"
        [pageSize]=10
        (page)="pageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>
